@import './base.css'
body
  --el-aside-width: 30px
#app
  margin: 0 auto
  font-weight: normal
  width: 100vw
  height: 100vh
  .content-box
    height: calc(100vh - 60px)
    overflow: auto
#header
  height: 60px
.box-group
  display: grid
  gap: 1rem
.game-box
  width: 600px
  height: 500px
  margin: 10px
.phone-btn
  display: none !important
  background: none
  border: none
a,
.green
  text-decoration: none
  color: hsla(160, 100%, 37%, 1)
  transition: 0.4s
  padding: 3px
.sidebar
  position: fixed
  top: 0
  bottom: 0
  left: 0
  overflow-y: auto
  transform: translate(-100%)
  transition: transform .5s
  z-index: 200
  &.open
    transform: translate(0)
.overlay
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: #0009
  transition: opacity .5s
  z-index: var(--overlay-z-index)
.pagination
  margin: 4px 0
  align-items: center
  justify-content: center
@media (hover: hover)
  a:hover
    background-color: hsla(160, 100%, 37%, 0.2)

@media (min-width: 768px)
  body
    display: flex
    place-items: center
    --el-aside-width: 25vw

  #app
    font-size: 1.1rem
    .content-box
      display: flex
    #menu-box
      width: 25vw
    #right-list
      width: 75vw
  #shopping
    .box-group
      grid-template-columns: repeat(4, 1fr)
      grid-auto-rows: 210px

@media (min-width: 992px)
  body
    display: flex
    place-items: center
    --el-aside-width: 16vw

  #app
    font-size: 1.2rem
    .content-box
      // display: grid
      // grid-template-columns: 1fr 5fr
      display: flex
    #menu-box
      width: 16vw
    #right-list
      width: 84vw
  #shopping
    .box-group
      grid-template-columns: repeat(5, 1fr)
      grid-auto-rows: 300px

@media (max-width: 767px)
  body
    display: flex
    --el-aside-width: width: 80vw !important

  #app
    font-size: 1rem
  .content-box
    position: relative
  #menu-box
    width: 80vw
  #shopping
    .box-group
      grid-template-columns: repeat(2, 1fr)
      grid-auto-rows: 240px
  .phone-btn
    display: inline-block !important
